@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 0px;
  margin: 0px;
  font-family: "noto sans", sans-serif;
  color: black;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

h4 {
  font-size: 16px;
  color: #7c7c7c;
  font-weight: 700px;
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 14px;
  color: #7c7c7c;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

label {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

button {
  background-color: rgb(53, 56, 185);
  height: 54px;
  width: 432px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-width: 5px;
  border-style: solid;
}

button.small {
  background-color: white;
  color: black;
  font-size: 14px;
  border-radius: 8px;
  width: 90px;
  height: 36px;
}

input {
  background-color: white;
  width: 100%;
  height: 48px;
  border-color: #06bee1;
  border-radius: 8px;
  color: black;
  border-style: solid;
  font-size: 16px;
  padding: 16px;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.mt-smaller {
  margin-top: 8px;
}

.mt-small {
  margin-top: 12px;
}

.mt-middle {
  margin-top: 16px;
}

.mt-large {
  margin-top: 24px;
}
.mt-larger {
  margin-top: 36px;
}
.mt-middle {
  margin-top: 16px;
}

.auth-container {
  width: 432px;
}

.logo {
  width: 110px;
  height: auto;
}

.auth-container {
  background-color: rgb(81, 83, 223);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-content {
  display: flex;
  width: 480px;
  height: auto;
  align-items: center;
  justify-content: center;
  min-height: 440px;
  border-radius: 24px;
  background-color: white;
}
.auth-container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 24px;
}
